<!DOCTYPE html>
<html>

<head>
    <title>AI College Assistant</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>

    <h2>🎓 AI College Assistant</h2>

    <div>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>

</nav>

<section class="hero">

    <div>

        <h1>Smart College Assistant</h1>

        <p>
            One platform for students to access college information,
            notices, courses, faculty, timetable and AI assistance.
        </p>

        <a class="btn" href="/login">
            Get Started
        </a>

    </div>

</section>

<section class="features">

    <div class="card">
        <h3>🤖 AI Chatbot</h3>
        <p>Ask questions about college information.</p>
    </div>

    <div class="card">
        <h3>📢 Notices</h3>
        <p>View important college announcements.</p>
    </div>

    <div class="card">
        <h3>📚 Courses</h3>
        <p>Explore available courses.</p>
    </div>

    <div class="card">
        <h3>🕐 Timetable</h3>
        <p>Check class schedules.</p>
    </div>

</section>

</body>
</html>